.footer {
  height: 50px;
  width: 100vW;
  background-color: black;
  color: antiquewhite;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer > div ul{
    display: flex;
    gap: 1em;
    list-style: none;
}