.about {
  background-color: lightblue;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding:2em;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.content div{
    display: flex;
    gap: 1em;
}
span{
    color: darkblue;
}
.typing{
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid black; 
  animation: typing 4s steps(40,end) forwards, blink 0.7s infinite;
}

@keyframes typing{
  from{
    width: 0;
  }
  to{
    width: 100%;
    border-right:none;
  }
}

@keyframes blink{
  50%{
    border-color: transparent;
  }
}

.typing span{
  color: blue;
  font-weight: bold;
}

.content > div button{
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  background-color: blue;
  color: white;
  letter-spacing: 1px;
  font-weight: bold;
  cursor: pointer;
}
.content > div button:hover{
  background-color: chartreuse;
  color: black;
}