.contact {
  width: 100vw;
  background-color: lightslategray;
  padding: 2em;
}
.contact > h2 {
  text-align: center;
  padding-bottom: 10px;
}
.contact > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
form > div {
  display: flex;
  gap: 20px;
}
form > button {
  width: 150px;
  padding: 5px;
}
form > input,
form > div > textarea {
  width: 300px;
}
.status-message {
  margin-top: 10px;
  font-weight: bold;
  color: green;
}

.status-message:contains("Error") {
  color: red;
}
form > button{
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  background-color: blue;
  color: white;
  letter-spacing: 1px;
  font-weight: bold;
  cursor: pointer;
}
form > button:hover{
  background-color: chartreuse;
  color: black;
}